ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

a{
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

body{
    background-image: url("https://e5a26225-cf18-4f89-aa84-23bf732cce63.ws-eu01.gitpod.io/mini-browser/workspace/Niek26/PO/afbeeldingen/informatica%20foto.png");
    background-size: cover;
}