ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar{
    float: right; 
    border: black 3px solid;
    padding: 5px;
}

.right {
    float: right;
}

.minecraft_img {
    width:30%;
}